@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(3.5);
    }
}

@keyframes zoomInDiv {
    0% {
        width: 100vw;
        overflow: auto;
        height: 100vh;
    }
    100% {
        width: 60vw;
        overflow: hidden;
        height: 100vh;
    }
}

@keyframes tCarouselShow {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}

#mainTitle {
    padding-top: 160px;
    height: 50vh;
    min-height: 420px;
}
#titleDesc {
    display: flex;
    align-items: center;
    font-size: var(--font-size-medium);
    margin-top: 32px;
}

#mainDetail{
    background-color: var(--detail-bg);
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}
#mainDetail.fixed {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
}
.gray-bg {
    position: absolute;
    top: 0;
    right: -50vw;
    width: 35vw;
    height: 100vh;
    background-color: var(--gray-bg);
    z-index: 2;
}
#mainDetail.fixed .gray-bg {
    right: 0;
    transition: right 1s 1s;
}
#mainDetail.fixed .text-carousel {
    animation: tCarouselShow 1s 2s forwards;
}
#mainImgDiv {
    position: relative;
    transition: 0.5s;
}
#mainImgDiv.zoom {
    animation: zoomInDiv 1s 1s forwards;
}
#mainDetail img {
    width: 110%;
    position: absolute;
    top: -20vh;
    left: -7%;
    transition: 0.5s;
}
#mainImgDiv.zoom img {
    animation: zoomIn 2s forwards;
    left: -7.5%;
    top: -50vh;
}


#mainDetail .text-carousel {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    z-index: 3;
    opacity: 0;
}
.text-carousel {
    width: 30vw;
    height: 50vh;
    min-width: 550px;
    min-height: 450px;
    transition: 0.5s;
}
.carousel-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
}
.carousel-nav .circle-btn {
    width: 40px;
    height: 40px;
}
.carousel-nav .circle-btn:hover {
    color: var(--black-bg);
}
.carousel-nav .circle-btn::before {
    background-color: var(--white);
    width: 50px;
    height: 50px;
}
.carousel-nav li:first-child {
    margin-right: 10%;
}
.carousel-nav .circle-btn.disabled {
    opacity: 0.1;
    pointer-events: none;
}

.text-box-container {
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
}
.text-box {
    width: 100%;
    height: 100%;
    /* display: flex; */
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.text-box li {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 10%;
}
.text-title {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.text-title .line {
    margin-left: 8px;
}
.text-desc {
    width: 95%;
    margin-top: 15%;
    font-size: var(--font-size-medium);
    line-height: 2.5rem;
}

.skip-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    background-color: var(--black-bg);
    color: var(--white);
    display: inline-block;
    width: 5rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 1.5rem;
}

