footer {
    height: 55rem;
    background-color: var(--footer-bg);
    color: var(--white);
    font-weight: bold;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 16% 16% 26% 26% 16%;
    grid-template-areas: 
        "fl book"
        "case create"
        "case email"
        "contact email"
        "copyright copyright"
    ;
}
footer > div {
    padding: 0 6rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-logo {
    grid-area: fl;
    border-bottom: 1px solid #484848;
    border-right: 1px solid #484848;
}
#footer-logo > h1 {
    width: 11%;
    height: 4rem;
    font-size: 0;
    background: url(../images/logo_b.png) no-repeat center center;
    background-size: 100%;
}
#footer-logo > ul {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-small);
}
#footer-logo > ul li {
    cursor: pointer;
}
#footer-logo > ul li:hover {
    color: var(--point-green);
}

#book {
    grid-area: book;
    border-bottom: 1px solid #484848;
    background-color: var(--point-green);
    padding: 0 3rem;
}
#book > strong, #create > strong {
    width: 50%;
    font-size: 1.2rem;
}
#book .circle-btn {
    background-color: var(--white);
    color: var(--point-green);
}
#book .circle-btn:hover {
    color: var(--white);
}

#case {
    grid-area: case;
    border-bottom: 1px solid #484848;
    border-right: 1px solid #484848;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 6rem;
    font-size: var(--font-size-medium);
}
#case .hover-green {
    line-height: 2.5rem;
}
#case .hover-green::after {
    height: 2px;
}
#case .gray-color {
    font-size: 14px;
}
#case > ul:first-child {
    margin-right: 10rem;
}
#seeAll {
    font-size: 14px;
    margin-top: 1rem;
}

#create {
    grid-area: create;
    border-bottom: 1px solid #484848;
    padding: 0 3rem;
}
#create .circle-btn {
    background-color: var(--black-bg);
}
#create .circle-btn:hover {
    color: var(--black-bg);
}
#create .circle-btn::before {
    background-color: var(--white);
}

#contact {
    grid-area: contact;
    border-right: 1px solid #484848;
}
#contact .hover-green {
    font-size: var(--font-size-medium);
}
#contact .hover-green::after {
    height: 2px;
    margin-top: 4px;
}

#email {
    grid-area: email;
    padding: 0 3rem;
    margin-top: 4.5rem;
}
#email li:nth-child(2) {
    width: 90%;
    font-size: var(--font-size-medium);
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

#email-input {
    position: relative;
}
#email input {
    width: 100%;
    height: 4rem;
    background-color: var(--black-bg);
    padding: 1.5rem;
    color: var(--white);
    font-size: var(--font-size-small);
}
#email-input::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--point-green);
}
#email-input .circle-btn {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    width: 30px;
    height: 30px;
}
#email-input .circle-btn::before {
    background-color: var(--white);
    width: 40px;
    height: 40px;
}
#email-input .circle-btn:hover {
    color: var(--black-bg);
}


#copyright {
    grid-area: copyright;
    border-top: 1px solid #484848;
}
#copyright > ul {
    height: 100%;
}
#copyright > ul:first-child li {
    margin-right: 4rem;
}