/* animation */
@keyframes navBefore {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes navAfter {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
@keyframes navOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes navTraY {
    0% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes height0to100 {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

/* header */
header {
    width: var(--header-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

    /* #h-top */
#h-top {
    background-color: var(--black-bg);
    color: var(--white);
    height: 50vh;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 24px;
}
#h-top > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topLogo {
    font-size: 0;
    width: 50px;
    height: 50px;
    background: url(../images/logo_s.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 32px;
}

#toggle {
    width: 32px;
    height: 28px;
    margin: 0 auto;
    cursor: pointer;
}
#toggle span {
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--white);
    margin: 0 auto;
    transition: 0.2s;
}
#toggle span:nth-child(2) {
    width: 24px;
}
#toggle span:not(:last-child) {
    margin-bottom: 8px;
}
#toggle:hover span:not(:nth-child(2)) {
    width: 24px;
}
#toggle:hover span:nth-child(2) {
    width: 32px;
}

#bottomLogo {
    transform: rotate(-90deg);
    font-size: 24px;
    position: relative;
    margin-bottom: 24px;
}
#bottomLogo::after {
    content: "®";
    font-size: 16px;
    display: block;
    position: absolute;
    top: 5px;
    right: -16px;
}

    /* #h-bottom */
#h-bottom {
    height: 50vh;
    position: relative;
    top: 0;
    left: -200px;
    transition: 0.5s;
}
#h-bottom ul {
    /* transform: rotate(-90deg); */
    height: 200px;
    width: 10%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
}
#h-bottom ul li {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#h-bottom ul li.on {
    opacity: 1;
}
/* header // */


/* h-center */
#h-center {
    position: absolute;
    top: 0;
    right: 0;
}
#h-center ul {
    display: flex;
    padding: 40px 0;
}
#h-center ul li:first-child {
    margin-right: 50%;
}
/* h-center // */


/* menu-right */
#menu-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100vh;
    padding: 16px;
    z-index: 90;
    transition: 0.5s;
}
#menu-right ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
#menu-right ul li:not(:nth-child(2)) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu-right .gray-btn {
    margin-bottom: 80px;
}
#menu-right .green-btn {
    margin-top: 80px;
}
#menu-right .rotate90 {
    width: 150px;
}

.rotate90 {
    display: inline-block;
    transform: rotate(90deg);
}

#language {
    width: 4rem;
    transition: 0.5s;
}
#language.disappear {
    transform: translateX(200%);
}

#reachUS, #buildYour {
    transition: 0.5s;
}
#reachUs.disappear, #buildYour.disappear {
    transform: translateX(300%);
}
/* menu-right // */


/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: none;
}
nav::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--black-bg);
    width: 100%;
    height: 50%;
    transition: 0.5s;
    animation: navBefore 0.5s 0.5s;
}
nav::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: -100%;
    background-color: var(--black-bg);
    width: 100%;
    height: 50%;
    transition: 0.5s;
    animation: navAfter 0.5s 0.5s;
}

#nav-div {
    width: 100%;
    height: 100%;
    background-color: var(--black-bg);
    color: var(--white);
    display: flex;
    opacity: 0;
    animation: navOpacity 0.5s 0.5s forwards;
}

    /* #nav-left */
#nav-left {
    width: 15%;
    height: 100%;
    padding: 2%;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: navOpacity, navTraY;
    animation-delay: 1s, 1s;
    animation-duration: 1s, 1s;
}
#nav-left > h1 {
    font-size: 0;
    background: url(../images/logo_e.png) no-repeat center center;
    background-size: contain;
    width: 80%;
    height: 10%;
}
#nav-close {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: var(--font-size-medium);
    cursor: pointer;
}

    /* nav-middle */
#nav-middle {
    width: 60%;
    height: 100%;
    padding: 3%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: navOpacity, navTraY;
    animation-delay: 1s, 1s;
    animation-duration: 1s, 1s;
}
#nav-middle .line {
    margin: 0;
    width: 2rem;
}
#nav-middle .line::after {
    background-color: var(--white);
}

#nav-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}
#nav-social > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-small);
    width: 15%;
}
#nav-social > ul li {
    transition: 0.5s;
    cursor: pointer;
}
#nav-social > ul li:hover {
    color: var(--point-green);
}

#nav-menu-ul {
    font-size: 4.5rem;
    line-height: 6rem;
    margin-bottom: 15%;
}

#nav-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
}

#nav-language > ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav-language > ul li {
    transition: 0.5s;
    cursor: pointer;
}
#nav-language > ul li.on {
    color: var(--point-green);
    pointer-events: none;
}
#nav-language > ul li:hover {
    color: var(--point-green);
}

#nav-language .circle-btn {
    color: var(--black-bg);
    background-color: var(--white);
}
#nav-language .circle-btn::before {
    background-color: var(--white);
}

    /* nav-right */
#nav-right {
    width: 25%;
    height: 100%;
}
#nav-right > ul {
    height: 100%;
}
#nav-right > ul li strong {
    font-size: 2rem;
}

#nav-right .circle-btn {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.right-bg {
    width: 100%;
    height: 0%;
    padding: 10%;
    animation: height0to100 1s 0.8s forwards;
}

.right-cont {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: navOpacity, navTraY;
    animation-delay: 1s, 1s;
    animation-duration: 1s, 1s;
}

.right-title {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

#right-01 {
    height: 60%;
    color: var(--black-bg);
    position: relative;
}
#right-01 .right-bg {
    background-color: var(--white);
}

#right-02 {
    height: 40%;
    position: relative;
}
#right-02 .right-bg {
    background-color: var(--point-green);
}
#right-02 .line::after {
    background-color: var(--white);
}
#right-02 .circle-btn {
    background-color: var(--white);
    color: var(--point-green);
}
/* nav // */