#trike {
    background-color: var(--gray-bg);
    position: relative;
}
#trike-title {
    height: 150vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10vh;
    padding: 5rem;
}
#trike-title img {
    width: 100%;
}
#titleDiv {
    margin-right: 10vw;
}

#trike-desc {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    z-index: 2;
}
#trike-desc li {
    width: 25%;
    padding: 2rem;
}
#trike-desc li:not(:last-child) {
    border-right: 1px solid var(--gray-bg-dark);
}
.descNum {
    margin-bottom: 2rem;
}
.descH3 {
    margin-bottom: 1rem;
}


#bikeShare {
    background-color: var(--gray-bg-dark);
    height: 250vh;
    padding-top: 30vh;
    position: relative;
}
#bs-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bs-desc > div {
    width: 45%;
}
.bs-desc-p {
    margin-top: 10vh;
    font-size: var(--font-size-small);
    line-height: 1.5rem;
}
.bs-desc-p::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background-color: var(--black-bg);
    margin-bottom: 7vh;
}
#bsRight > div {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
}
#bsRight .circle-btn {
    background-color: var(--white);
    margin-left: 5vw;
}

#t-carousel-two-container {
    margin-top: 5vh;
}

#num-carousel {
    position: absolute;
    left: 0;
    top: 120vh;
    display: flex;
    font-size: 20rem;
    color: var(--white);
    font-weight: bold;
}
#num-div {
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
}
#num-ul {
    width: 15rem;
    position: absolute;
    top: 0;
    left: 0;
}
#num-ul > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#t-c-two-container .text-carousel {
    float: right;
    margin-right: 10vw;
    height: 30vh;
    min-height: 400px;
}

#b-carousel {
    position: absolute;
    left: 0;
    bottom: 5vh;
    height: 32rem;
    overflow: hidden;
}
#b-carousel-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 800vw;
    height: 100%;
    animation: toRight 40s linear infinite;
}
.bikeImg-carousel {
    display: flex;
}
.bikeImg-carousel > div {
    width: 80vw;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bikeImg-carousel img {
    height: 100%;
}

#yourWay {
    height: 150vh;
    background-color: var(--point-green);
    color: var(--white);
    padding-top: 10rem;
    position: relative;
}

#yw-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#yw-title .ywleft {
    font-size: 3.5rem;
}
#yw-title .ywright {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    line-height: 1.5rem;
}
#yw-title .circle-btn {
    margin-left: 4rem;
    background-color: var(--white);
    color: var(--point-green);
}
#yw-title .circle-btn:hover {
    color: var(--white);
}

.ywleft {
    width: 50%;
}
.ywright {
    width: 45%;
}

#yw-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    font-size: var(--font-size-small);
}
#yw-btns {
    display: flex;
}
#yw-btns li {
    padding: 1rem 1.5rem;
    background-color: #0a7;
    border-radius: 2rem;
}
#yw-btns li:not(:last-child) {
    margin-right: 1rem;
}
#yw-btns li.on {
    background-color: var(--white);
    color: var(--point-green);
    pointer-events: none;
}
#yw-btns .btn-hover:hover {
    color: var(--point-green);
}
#yw-btns .btn-hover::before {
    background-color: var(--white);
}
#yw-btns .btn-hover::after {
    background-color: var(--white);
}


#yw-lists > ul {
    opacity: 0;
    position: absolute;
    top: 70vh;
    left: 50vw;
    font-size: var(--font-size-small);
    transition: opacity 0.5s, transform 1s;
    transform: translateX(50%);
}
#yw-lists > ul li {
    list-style: disc;
    margin-bottom: 0.5rem;
}
#yw-lists > ul.on {
    opacity: 1;
    transform: translateX(0);
}


#yw-imgs > div {
    /* position: relative; */
    /* position: absolute;
    bottom: 0; */
    opacity: 0;
    transition: 0.5s;
}
#yw-imgs img {
    transition: 0.5s;
}
#yw-imgs > div.on {
    opacity: 1;
}
#yw-imgs > div.on #phone1 {
    left: -4rem;
}
#yw-imgs > div.on #phone2 {
    left: 14rem;
}
#yw-imgs > div.on #map {
    bottom: -1rem;
}
#yw-imgs > div.on #dock {
    bottom: -1.5rem;
}


#phone1 {
    width: 28%;
    position: absolute;
    bottom: -2rem;
    left: 10rem;
}
#phone2 {
    width: 28%;
    position: absolute;
    bottom: -1rem;
    left: 20rem;
}
#dock {
    width: 105%;
    position: absolute;
    bottom: -5rem;
    right: 0;
}
#map {
    width: 35%;
    position: absolute;
    bottom: -5rem;
    left: 8vw;
}